 .oscuro{ 
    background-color: #1f1f1f; 
    color: #f1eded; 
}

body {
    background-color: #E26F52;
    display: flex;
    justify-content: center;
    min-height: 600px;
    align-items: center;
}
 
div.centro{
    background-color: white;
    padding: 15px 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 550px;
    border-radius: 15px;
    max-height: 250px;
}