table td{
 font-size: 15px;
 color: gray;
 line-height: 1.4;
 background-color: #1d1d1d;
 padding-bottom: 16px;
 padding-top: 16px;
 width: 25%;
 padding-left: 40px;
}

table{
    width: 940px;
    border-spacing: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagesClientes{
    max-width: 120px;
}