table td{
 font-size: 15px;
 color: gray;
 line-height: 1.4;
 background-color: #1d1d1d;
 padding-bottom: 16px;
 padding-top: 16px;
 width: 25%;
 padding-left: 40px;
}

table{
    width: 940px;
    border-spacing: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagesClientes{
    max-width: 120px;
}

.editClient{
    width: 1140px;
    display: flex;
    align-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
}

.topLeft, .topCenter, .topRight{
    width: 33%;
    display: flex;
    justify-content: center;
}   

.top{
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-color: #f3f3f3;
}

form{
    width: 100%;
}

.editProfile{
    font-weight: 500;
    color: #1d1d1d;
}

*{
    font-family: 'Poppins', sans-serif;
}