.dot {
    color: blue;
    font-weight: bold;
}

.number {
    color: red;
    font-weight: bold;
}

.formulario{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

table.tablaSudoku,
thead {
    text-align: center;
    width: 250px;
    border-width: 1px;
    border-spacing: 1px;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
}

table.tablaSudoku th,
td {
    border-width: 2px;
    padding: 5px;
    border-style: solid;
    border-color: black;
}

.tablaSudokus {
    width: 1640px;
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.sudokuFacil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sudokuMedio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sudokuDificil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top{
    height: auto;
    width: 100%;
    background-color: #fafafa;
    text-align: center;
    display: flex;
    align-items: center;
}

.main{
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 50px;
}

body{
    margin: 0;
}

img#imagenBanner{
    max-width: 100px;
}

.logo{
    width: 50%;
    float: left;
}

.list{
    width: 50%;
    float: right;
    align-content: center;
}
.list ul li{
    display: inline;
    padding: 0 5px 0 5px;
}

.barraLat{
    float: left;
    width: 50px;
    height: 100%;
    margin: 150px 20px;
    background-color: #f3f3f3;
    border: 15px solid black;
    padding: 15px;
}